*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body{
    align-items:center;
    justify-content: center;
}

.dropbtn-nav{
	margin-bottom: 10px;
    cursor: pointer;
}

.dropbtn {
    width: 85%;
	outline: none;
	border: none;
	background: #dfe9f5;
    color: black;
	padding: 12px 12px;
	margin-bottom: 10px;
	border-radius: 10px;
    cursor: pointer;
}

.board{
    width: 94%;
    margin: 30px 0 30px 30px;
    overflow: auto;
    background: #fff;
    border-radius: 8px;
}
.wrapper{
	width: 450px;
	padding: 2rem 3rem 1rem 2rem;
	margin-top: 50px;
	margin-left: 300px;
	background: #fff;
	border-radius: 10px;
	text-align: center;
	box-shadow: 0 20px 35px rgba(0,0,0,0.1);
    
}


table, th, td{
    padding: 1 rem;
    border-collapse: collapse;
    
}
table{
    width: 94%;
    margin: 0px 30px 30px 30px;
    border-collapse: collapse;
    border: 100%;
    border-collapse: collapse;
    text-transform: uppercase;
    text-align: center;
}

.table-header{
    width:100%;
    height: 10%;
    background-color: #fff4;

}
.table-body{
    width: 95%;
    max-height: clac(89%-.8rem);
    background-color: #fffb;
    margin: .8rem auto;
    border-radius: .6rem;
    overflow:auto;

}

tr{
    border-bottom: 1px solid #eef0f3;
}
thead th{
    position: sticky;
    top:0;
    left:0;
    background-color: rgb(8, 8, 93);
    color:#dfe9f5;
}
tbody tr:nth-child(even){
    background-color: #0000000b;
}
tbody tr:hover{
    background-color: #fff6;
}

.board h5{
    font-weight: 400;
    font-size: 14px;
}


thead td{
    font-size: 14px;
    text-transform: uppercase;
    font-weight: 500;
    background: #f9fafb;
    text-align: start;
    padding: 10px;
}
tbody tr{
    padding: 10px 15px;
    text-transform: uppercase;
}

.h2-table{
    text-align: center;
    text-transform: uppercase;
}

form input{
	width: 4px 5px;
	outline: none;
	border: none;
	background: #dfe9f5;
	padding: 12px 12px;
	margin-bottom: 10px;
	border-radius: 10px;
}


#btn-submit{
	font-size: 1rem;
	margin-top: 0;
	padding: 3px 0;
	border-radius: 5px;
	outline: none;
	width: 30%;
	background: rgba(34, 34, 189, 0.707);
	color: #ffff;
}
#btn-submit:hover{
    background: rgba(44, 44, 156, 0.707);
    color: #fff;
    cursor:pointer;
}

#btn-addnew{
    font-size: 1rem;
    margin-left: 30px;
	margin-top: 0;
	padding: 0px 5px;
	border-radius: 5px;
	outline: none;
	background: rgba(13, 13, 161, 0.919);
	color: #ffff;
}
#btn-addnew:hover{
    background:rgba(13, 13, 161, 0.699);
    color: #ffff;
    cursor:pointer;
}
#btn-add{
    font-size: 1rem;
    margin-left: 30px;
	margin-top: 0;
	padding: 0px 5px;
	border-radius: 5px;
	outline: none;
	background: blue;
	color: #ffff;
}
#btn-add:hover{
    background: rgba(87, 210, 247, 0.875);
    color: #000;
    cursor:pointer;
}


.edit a{
    text-decoration : none;
    font-size: 14px;
    color: #554cd1;
    font-weight: 600;
}


.delete a{
    text-decoration : none;
    font-size: 14px;
    color: #e22727;
    font-weight: 600;
}

.status.complete{
    background-color: #86e49d;
}

.status.incomplete{
    background-color: #b30021;
}

.status.progress{
    background-color: #ebc473;
}



@media (max-width: 769px){
  
	.wrapper{
		width:250px;
		padding: 1rem 3rem 0rem 2rem;
		margin-top: 50px;
		margin-left: 150px;
		background: #fff;
		border-radius: 10px;
		text-align: center;
		box-shadow: 0 20px 35px rgba(0,0,0,0.1);
	}
    
 
    .board{
        width:92%;
        padding: 0;
        overflow-x: auto;
    }
    table{
        border: 100%;
        border-collapse: collapse;
        text-transform: uppercase;
    }
    
    #btn-submit{
	    font-size: 1rem;
	    margin-top: 0;
	    padding: 3px 0;
	    border-radius: 5px;
	    outline: none;
	    width: 50%;
	    background: blue;
	    color: #ffff;
    }


    .skill{
        width:160px;
        height:160px;
        background-color:#86e49d;
        position: relative;
    }
}

    
