*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.skill{
    width:160px;
    height:160px;
    position: relative;
}

.outer{
    width:160px;
    height:160px;
    padding: 20px;
    box-shadow: 6px 6px 10px -1px rgba(0,0,0, 0.15), -6px -6px 10px -1px rgba(255,255,255, 0.7);
    border-radius: 50%;
}

.inner{
    width:120px;
    height:120px;
    display: flex;
    align-items: center;
    justify-content:center;
    box-shadow: inset 4px 4px 6px -1px rgba(0,0,0, 0.2), 
                inset -4px -4px 6px -1px rgba(255, 255, 255, 0.7),
                -0.5px -0.5px 0px rgba(255,255,255,1),
                0.5px 0.5px 0px rgba(0,0,0, 0.15),
                0px 12px 10px -10px rgba(0,0,0, 0.05);
    border-radius: 50%;

}

#number{
    font-weight: 600;
    color: #555;
}
